.header {
  align-items: baseline;
  background-color: #a4db63;
  display: flex;
  flex-direction: row;
  height: 50px;
  justify-content: space-between;
  padding-left: 5px;
  top: 0;
  width: 100%;
}

.div-title {
  padding: 10px;
  text-align: center;
}

.search-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 10px;
  width: 100%;
}

.search-text-input {
  border-color: aliceblue;
  border-radius: 5px;
  outline: 0;
  width: inherit;
}

.filter-btn-container {
  background-color: #4c2d51;
  border-radius: 5px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  color: aliceblue;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  padding: 10px;
  width: inherit;
}

.search-radio-btn-input {
  accent-color: #a4db63;
  margin-right: 5px;
}

.radio-btn-group {
  display: flex;
}

.radio-btn {
  align-items: center;
  display: flex;
  margin: 0 8px;
}

.btn-container {
  display: flex;
  justify-content: center;
}

.btn-search {
  background-color: #a4db63;
  border-color: #a4db63;
  color: black;
  font-weight: 700;
  width: inherit;

  --bs-btn-hover-bg: #a4db63;

  --bs-btn-hover-border-color: #a4db63;

  --bs-btn-active-border-color: #a4db63;

  --bs-btn-active-bg: #a4db63;
}

.btn-search:active {
  background-color: #a4db63;
  border-color: #a4db63;
}
