html, body {
  width: 100vw;
  overflow-x: hidden;
}

body {
  margin: 0 !important;
  padding: 0 !important;
  font-family: "Epilogue", sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --secGreen: #588A1E;
  --primPurple: #51165C;
  --lightGreen: #A4DB63;
  --lightPurple: #8958A3;
  --lightestGreen: #A4DB63;
  --accentRed: #E44343;
  --nearBlack: #1A1B1C;
  --gray: #797D86;
  --lightGray: #B1B1B1;
}